name: Build Docker Image

on:
  workflow_dispatch:
    inputs:
      sync:
        description: 'Build and push Docker image'
        required: true
        default: true
        type: boolean

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    env:
      ecr_repository: oci://358252705848.dkr.ecr.us-gov-west-1.amazonaws.com/docuseal

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v5.0.0
        with:
          aws-access-key-id: ${{ secrets.ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.SECRET_ACCESS_KEY }}
          aws-region: us-gov-west-1

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Get timestamp
        id: current-time
        uses: gerred/actions/current-time@master

      - name: Format tag
        id: set-tag
        run: |
          TAG=$(echo "${{ steps.current-time.outputs.time }}" | sed 's/[:\.]/-/g')
          echo "image_tag=$TAG" >> $GITHUB_OUTPUT

      - name: Build and push image
        run: |
          docker build -t ${{ env.ecr_repository }}:${{ steps.set-tag.outputs.image_tag }} .
          docker push ${{ env.ecr_repository }}:${{ steps.set-tag.outputs.image_tag }}

      # Slack notifications for both success and failure
      - name: Slack Notification
        if: always()
        uses: 8398a7/action-slack@v3
        with:
          status: ${{ job.status }}
          fields: repo,message,commit,workflow
          channel: '#github-deploys'
          text: |
            ${{ job.status == 'success' && 'Docuseal image built and pushed to ECR successfully :white_check_mark:' || 'Docuseal image build and push failed :x:' }}
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_GITHUB_CHANNEL_WEBHOOK_URL }}

